/* Add your own styles */


body{
    max-width:1300px;
    background-color:#EFEFEF;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
    place-content:center;
    place-items:center;
    
}




main{
    max-width:1300px;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}


button{
    padding:0.5rem;
}

#country{
    padding:0.5rem;
}



table{
    margin:1rem;
    text-align:left;  
}

table th{
    padding:1em 0.2em;
    text-align:left;
    margin:1em 0;
    border:2px solid #5341ae;
    background-color: #59cbe1;
    color:#fff;

}

table td{
    padding: .5em;
    text-align:center;
    border:2px solid #152D35;
}

table tr{
    padding:2em;
}

 table  tr:hover {
     background-color: #345B63;
    color:#fff;
 } 

